// _config.scss

/**
 * Font Family
 */
$font-heading : 'Lato', sans-serif;
$font-default : 'Lato', sans-serif;
// $font-default : 'Playfair Display', serif;

$fa						: "FontAwesome", FontAwesome;


/**
 * Colors
 */

$color-primary            : #1e2a93; // Primary Color Blue : rgb value 
$color-primary-dark       : darken($color-primary, 10%);
$color-primary-light      : #b0c6d2;

$color-secondary          : #fc6073; // Secondary Color Pink : rgb value 
$color-secondary-dark     : darken($color-secondary, 10%);
$color-secondary-light    : #fee5e7;

$color-tertiary          : #ecaeb2; // Tertiary Color Pink : rgb value 
$color-tertiary-dark     : darken($color-tertiary, 10%); 
$color-tertiary-light    : #f6e7e8; 

$color-quaternary        : #676d8a; // Quart Color Purple : rgb value 
$color-quaternary-light  : #d3d5dc; 

$color-gray       				: #55575a;

$color-black              : #55575a;
$color-white         			: #fff;

$color-anchor-default     : #111557; 
$color-text-default     	: #111557;
$color-text-light         : #595a5c;

$color-success          	: #94df60;
$color-error            	: #e16060;

/**
 * Breakpoints
 */
$breakpoint-mobile : 767px;


/**
 * Transitions
 */
$transitions : (
  default : ease-in-out, 
  cubic   : cubic-bezier(.64,.09,.08,1)
);




