// _content.scss

/**
 * App (Wrapper)
 */
#app {
  position: relative;

  &.app--modal-overlay {
    
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.7);
      z-index: 20;
    }
  }
}

/**
 * Content
 */

/**
 * Section(s)
 */
section {}

  .section--xsmall          { margin: 25px 0; }
  .section--small           { margin: 40px 0; }
  .section                  { margin: 70px 0; }
  .section--large           { margin: 90px 0; }
  .section--xlarge          { margin: 100px 0; }
  .section--xxlarge         { margin: 120px 0; }
  
  .section-padded--xsmall   { padding-top: 25px; padding-bottom: 25px; }
  .section-padded--small    { padding-top: 40px; padding-bottom: 40px; }
  .section-padded           { padding-top: 70px; padding-bottom: 70px; }
  .section-padded--large    { padding-top: 90px; padding-bottom: 90px; }
  .section-padded--xlarge   { padding-top: 100px; padding-bottom: 100px; }
  .section-padded--xxlarge  { padding-top: 120px; padding-bottom: 120px; }

  .section--float-left      { width: 100%; float: left; }

  .section-divider { 
    width: 100%;
    border: 1px solid $color-white; 
  }

  .section__header {
    margin-bottom: 50px;
    text-align: center;

    &.section__header--small { margin-bottom: 35px } 
  }

  .section__footer {
    margin-top: 50px;
    text-align: enter;

    &.section__footer--small { margin-top: 40px } 
  }
    


/**
 * Articles
 */
article {}





/**
 * Iframe container
 */
.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



/**
 * Reponsive container
 */
.responsive-container, %responsive-container {
  position: relative;
  width: 100%;
}

.responsive-container img,
.responsive-img {
  width: 100%;
  height: auto;
}

/** 
 * About Section
 */
.section--about {
  margin-top: 200px;
  
  @include media ('mobile') {
    margin-top: 100px;
  }

  .about--inner {
    position: relative;
    
    .header--wrapper {
      position: absolute;
      margin-bottom: 40px;
      width: 100%;
      height: 200px;
      right: 0;
      top: -25%;
      z-index: 1;
      
      .header--inner {
        position: relative;
        height: 200px;
      }
      
      h2.large {
        text-transform: uppercase;
        color: $color-secondary-light;
        z-index: -1;
        position: absolute;
        right: 0;
        height: 100%;
        opacity: .5;
      }
      
      h2.heading {
        text-transform: uppercase;
        color: $color-secondary;
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
        -webkit-transform: translateY(-75%);
           -moz-transform: translateY(-75%);
            -ms-transform: translateY(-75%);
             -o-transform: translateY(-75%);
                transform: translateY(-75%);
        @include fluid-padding-left(320px, 1600px, 10px, 34px);
      }
    }

    .intro--wrapper {
      background-color: $color-primary;
      height: 400px;
      width: 100%;
      position: relative;
      
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $color-secondary;
        z-index: -1;
        right: -8%;
        top: 20%;
      }
      
      p {
        color: $color-white;
        width: 65%;
        position: absolute;
        bottom: 8%;
        @include fluid-padding-left(320px, 1600px, 25px, 75px);
      }
    }
  }
}


.section--portfolio {
  margin-top: 500px;
  
  @include media ('mobile') {
    margin-top: 250px;
  }  
  
  .portfolio--inner {
    position: relative;
    
    .header--wrapper {
      position: relative;
      margin-bottom: 40px;
      height: 200px;
      
      h2.large {
        text-transform: uppercase;
        color: $color-primary-light;
        z-index: -1;
        position: absolute;
        height: 100%;
        opacity: .5;
      }
      
      h2.heading {
        text-transform: uppercase;
        color: $color-primary;
        z-index: 1;
        position: absolute;
        bottom: 0;
        -webkit-transform: translateY(-75%);
           -moz-transform: translateY(-75%);
            -ms-transform: translateY(-75%);
             -o-transform: translateY(-75%);
                transform: translateY(-75%);
        @include fluid-padding-left(320px, 1600px, 10px, 34px);
      }
    }

    .content--wrapper {
      margin-left: 25%;
      
      .portfolio--card {
        margin-bottom: 30px;
        
        .card--inner {
          display: flex;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          
          
          h4 {
            font-weight: 500;
            margin: 0px;
          }

          p {
            margin: 0px;
            font-weight: 100;
          }

          .inner--left {
            border: 1px solid $color-secondary;
            padding: 30px 40px;
            flex: 2.5;
          }

          .inner--right {
            background-color: $color-secondary;
            border: 1px solid $color-secondary;
            flex: .5;
            position: relative;
          }

          a {
            @extend %vertical-align;
            margin: 0 auto;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            font-family: $font-heading;
            font-size: 14px;
            letter-spacing: 1px;
          }
        }
      }
      
      p {
        color: $color-text-default;
        
        &.subheading {
          margin-bottom: 60px;
        }
      }     
    }
  }
}

.section--contact {
  margin-top: 400px;
  margin-bottom: 200px;

  .contact--inner {
    .header--wrapper {
      position: relative;
      margin-bottom: 40px;
      height: 200px;
      
      h2.large {
        text-transform: uppercase;
        color: $color-secondary-light;
        z-index: -1;
        position: absolute;
        height: 100%;
        opacity: .5;
      }
      
      h2.heading {
        text-transform: uppercase;
        color: $color-secondary;
        z-index: 1;
        position: absolute;
        bottom: 0;
        -webkit-transform: translateY(-75%);
           -moz-transform: translateY(-75%);
            -ms-transform: translateY(-75%);
             -o-transform: translateY(-75%);
                transform: translateY(-75%);
        @include fluid-padding-left(320px, 1600px, 10px, 34px);
      }
    }

    .intro--wrapper {
      @include fluid-padding-left(320px, 1600px, 10px, 34px);
      margin-bottom: 100px;
      
      p {
        margin-bottom: 30px;
      } 

      .social {
        width: 40%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        a {
          text-decoration: none;
          font-size: 40px;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
        }
      }    
    }
  }
}



// /*
//  * Screen reader text
//  */
// .screen-reader-text {
//   position: absolute !important;
//   left: -999em;
// }


// /**
//  * Opening Section
//  */
// .opening {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-areas: 
//     "opening--left opening--right";
//   @include fluid-padding-left(320px, 1600px, 20px, 80px);
//   max-width: 1240px;
//   margin: 0 auto;
//   margin-top: 100px;
//   margin-bottom: 100px;
  
//   @include media ('mobile') {
//     grid-template-areas: 
//     "opening--left"
//     "opening--right";
//     grid-template-columns: 1fr;
//     grid-template-rows: auto auto;
//   }

//   .opening--left {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     color: $color-primary;
//     transform: translateY(-14%);
    
//     h2 {
//       margin-bottom: 30px;
//     }

//     ul {
//       list-style: none;
//       margin-top: 30px;
      
//       li {
//         display: inline-block;
//       }

//       a {
//         color: $color-secondary;
//         text-decoration: none;
//         font-weight: 700;
//         font-family: $font-heading;
//         font-size: 26px;
//         letter-spacing: 1px;
//         margin-right: 10px;
//         -webkit-transition: all 200ms ease-in-out;
//            -moz-transition: all 200ms ease-in-out;
//             -ms-transition: all 200ms ease-in-out;
//              -o-transition: all 200ms ease-in-out;
//                 transition: all 200ms ease-in-out;
        
//         &:hover {
//           color: $color-secondary-dark;
//           -webkit-transition: all 200ms ease-in-out;
//              -moz-transition: all 200ms ease-in-out;
//               -ms-transition: all 200ms ease-in-out;
//                -o-transition: all 200ms ease-in-out;
//                   transition: all 200ms ease-in-out;
//         }
//       }
//     }
//   }

//   .opening--right {
//     img {
//       @include media ('tablet') {
//         width: 93%;
//         height: auto;
//         object-fit: cover;
//       }
//     }
//   }
// }


// /**
//  * About Section
//  */
// .about {
//   margin-top: -150px;
//   @include fluid-padding-left(320px, 1600px, 20px, 80px);
  
//   .background--rec {
//     height: 300px;
//     width: 100%;
//     background-color: $color-secondary-light;
//   }

//   h1 {
//     color: $color-secondary;
//     position: relative;
//     z-index: 1;
//     margin-top: -109px;
//     margin-bottom: 109px;
//   }

//   p {
//     color: $color-primary;
//     max-width: 1400px;
//     @include fluid-padding-right(320px, 1600px, 20px, 80px);
//   }
// }


// /**
//  * Portfolio Section
//  */
// .portfolio {
//   margin-top: 150px;
//   margin-bottom: 150px;
//   @include fluid-padding-right(320px, 1600px, 20px, 80px);
    
//   .background--rec {
//     background-color: $color-primary-light;
//     height: 300px;
//     width: 100%;
//   }

//   h1 {
//     color: $color-primary;
//     position: relative;
//     z-index: 1;
//     margin-top: -103px;
//     margin-bottom: 50px;
//     float: right;
//     @include clearfix;
//   }

//   .portfolio--grid {
//     @include fluid-padding-left(320px, 1600px, 20px, 80px);
//     padding-top: 100px;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     width: 100%;

//     .grid--item {
//       height: 400px;
//       display: flex;
//       flex-direction: column;
//       flex-basis: 100%;
//       flex: 1;
//       margin-left: 30px;
      
//       @extend %overlay--standard;
      
//       img {
//         height: 100%;
//         width: auto;
//         object-fit: cover;
//       }
      
//       &:first-of-type {
//         margin-left: 0px;
//       }
//     }
    
//   }

// }

// /**
//  * Portfolio Section
//  */
// .section--portfolio {
//   margin-top: 350px;
//   height: 785px;
//   width: 100%;
//   display: grid;
//   grid-template-columns: 1fr 100px;
//   grid-template-areas: 
//     "portfolio--main portfolio--menu";
// }

// .portfolio--main {
//   grid-area: portfolio--main;
//   background-color: $color-secondary-light;
  
//   h1 {
//     color: $color-secondary;
//     text-align: right;
//     padding-right: 3%;
//     transform: translateY(-50%);
//   }

//   .portfolio--grid {
//     margin-left: 50px;
//     height: 450px;
//     display: flex;
//     justify-content: space-between;
    
//     .portfolio--item {
//       background-color: $color-secondary;
//       flex: 1;
//       width: 32%;
//       margin-left: 50px;
//     }
//   }
// }


// /**
//  * About Section
//  */
// .section--about {
//   position: relative;
//   margin-top: 350px;
//   height: 785px;
//   width: 100%;
//   display: grid;
//   grid-template-columns: 100px 1fr;
//   grid-template-areas: 
//     "about--menu about--main";
    
//   .about--main {
//     grid-area: about--main;
    
//     h1 {
//       color: $color-tertiary;
//       transform: translate(5%, -50%);
//     }

//     p {
//       max-width: 80%;
//       transform: translate(10%, -10%);
//     }

//     .rectangle--small{
//       width: 15%;
//       height: 80%;
//       background-color: $color-tertiary-light;
//       position: absolute;
//       z-index: -1;
//     }
//   }

//   .about--menu {
//     grid-area: about--menu;
//   }
// }


// /**
//  * Contact Section 
//  */
// .section--contact {
//   position: relative;
//   margin-top: 350px;
//   height: 785px;
//   width: 100%;
//   display: grid;
//   grid-template-columns: 100px 1fr 100px;
//   grid-template-areas: 
//     "contact--left contact--middle contact--right";
    
  
//   .contact--left {
//     grid-area: contact--left;
//   }

//   .contact--middle {
//     position: relative;
//     grid-area: contact--middle;
    
//     .rectangle--medium {
//       width: 100%;
//       height: 200px;
//       position: absolute;
//       background-color: $color-quaternary-light;
//     }
    
//     h1 {
//       color: $color-quaternary; 
//       transform: translateY(-55%);
//       text-align: center;
//     }
//   }

//   .contact--right {
//     grid-area: contact--right;
//   }
// }


// /**
//  * Footer
//  */
// .footer {
//   width: 100%;
//   height: 200px;
//   background-color: $color-primary-light;
  
//   .anchor--links {
//     position: absolute;
//     bottom: 30px;
//     right: 30px;
//     z-index: 2;
//     color: $color-primary;
//     a {
//       text-decoration: none;
//       text-transform: uppercase;
//       font-family: $font-default;
//       font-weight: 400;
//       letter-spacing: 2px;
//       cursor: pointer;
//       -webkit-transition: all 200ms ease-in-out;
//          -moz-transition: all 200ms ease-in-out;
//           -ms-transition: all 200ms ease-in-out;
//            -o-transition: all 200ms ease-in-out;
//               transition: all 200ms ease-in-out;
      
//       &:hover {
//         color: $color-gray;
//         -webkit-transition: all 200ms ease-in-out;
//            -moz-transition: all 200ms ease-in-out;
//             -ms-transition: all 200ms ease-in-out;
//              -o-transition: all 200ms ease-in-out;
//                 transition: all 200ms ease-in-out;
//       }
//     }
//   }
// }

