// _hero.scss

$hero: (
  height:			 		    	800px,
  height_mobile: 				400px,
);

.hero {
	height: 100vh;
	min-height: 800px;
	position: relative;
	display: grid;
	grid-template-columns: 75px 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
		"grid--header grid--body";
		
	@include media ('mobile') {
		grid-template-areas: 
		"grid--header"
		"grid--body";
		
		grid-template-columns: 1fr;
		grid-template-rows: 50px 1fr;
	}

	.hero--inner {
  	@include fluid-padding(320px, 1600px, 30px, 60px);
  	height: 65%;
  	display: flex;
  	@extend %v-align;		
  	max-width: 1600px;
	}

	.content--wrapper {
		@include fluid-padding-right(320px, 1600px, 75px, 200px);
		@include fluid-padding-left(320px, 1600px, 25px, 50px);
  	display: flex;
  	justify-content: center;
  	-webkit-flex-direction: column;
  	    -ms-flex-direction: column;
  	        flex-direction: column;

  	
		.header--wrapper {
			position: relative;
			margin-bottom: 40px;
			height: 200px;
			
			h2.large {
				text-transform: uppercase;
				color: $color-secondary-light;
				z-index: -1;
				position: absolute;
				height: 100%;
				opacity: .5;
			}
			
			h2.heading {
				text-transform: uppercase;
				color: $color-secondary;
				z-index: 1;
				position: absolute;
				bottom: 0;
				-webkit-transform: translateY(-75%);
				   -moz-transform: translateY(-75%);
				    -ms-transform: translateY(-75%);
				     -o-transform: translateY(-75%);
				        transform: translateY(-75%);
				@include fluid-padding-left(320px, 1600px, 10px, 34px);
			}

		}
		
		.intro--wrapper {
			@include fluid-padding-left(320px, 1600px, 30px, 80px);
			
			p {
				color: $color-text-default;
				font-weight: 100;
			}
		}
	}

	.img--wrapper {
	  height: 100%;
	  position: relative;

  	&:after {
  		content: '';
  		height: 110%;
			background-color: $color-primary;
			width: 15%;
			position: absolute;
			top: -5%;
			right: -5%;
			z-index: -1;
  	}
  
	  img {
	  	width: auto;
	  	height: 90%;
	  	object-fit: cover;
	  	@extend %v-align;
      box-shadow: 26px 33px 32px -24px rgba(0, 0, 0, 0.3);
	  }	
	}

	.hero--spacer {
		background-color: $color-primary-dark;
	}
}



// .hero {
// 	height: 300px;
// 	background-color: $color-primary;
// 	width: 100%;
// 	position: relative;
	
// 	@include media ('mobile') {
// 		height: 250px;
// 	}
	
// 	h1 {
// 		position: absolute;
// 		bottom: -2px;
// 		color: $color-white;
//     @include fluid-padding-left(320px, 1600px, 20px, 80px);
    
//     @include media ('mobile') {
//     	bottom: 18px;
//     }
// 	}
// }


// .hero {
// 	position: relative;
// 	height: 980px;
// 	width: 100%;
// 	display: grid;
// 	grid-template-columns: 100px 1fr;
// 	grid-template-areas: 
// 		"hero--menu hero--main";
// }

// .hero--menu {
// 	grid-area: hero--menu;
// 	position: absolute;
// 	z-index: 2;
// 	width: 100vh;
// 	transform: rotate(-90deg);
// 	transform-origin: left;
// 	left: 50px;
// 	top: 75px;
// 	-webkit-transition: all 200ms ease-in-out;
// 	   -moz-transition: all 200ms ease-in-out;
// 	    -ms-transition: all 200ms ease-in-out;
// 	     -o-transition: all 200ms ease-in-out;
// 	        transition: all 200ms ease-in-out;
	
// }

// .hero--main {
// 	position: relative;
// 	grid-area: hero--main;
// 	display: grid;
// 	grid-template-columns: 1.25fr 1fr;
// 	grid-template-areas: 
// 		"main--left main--right";

// 	.background--large {
// 		position: absolute;
// 		z-index: -1;
// 	}
	
// 	.main--left {
// 		grid-area: main--left;
// 	}

// 	.main--right {
// 		grid-area: main--right;
		
// 		img {
// 			margin-top: 12%;
// 			margin-bottom: 10px;
// 		}
		
// 		.anchor--links {
// 			position: relative;
// 			z-index: 2;
// 			a {
// 				text-decoration: none;
// 				text-transform: uppercase;
// 				font-family: $font-default;
// 				font-weight: 400;
// 				letter-spacing: 2px;
// 				cursor: pointer;
// 				-webkit-transition: all 200ms ease-in-out;
// 				   -moz-transition: all 200ms ease-in-out;
// 				    -ms-transition: all 200ms ease-in-out;
// 				     -o-transition: all 200ms ease-in-out;
// 				        transition: all 200ms ease-in-out;
				
// 				&:hover {
// 					color: $color-primary;
// 					-webkit-transition: all 200ms ease-in-out;
// 					   -moz-transition: all 200ms ease-in-out;
// 					    -ms-transition: all 200ms ease-in-out;
// 					     -o-transition: all 200ms ease-in-out;
// 					        transition: all 200ms ease-in-out;
// 				}
// 			}
// 		}
// 	}

// 	.hero--inner {
// 		position: absolute;
// 		bottom: 13.8%;
// 		width: 100%;
// 		z-index: 1;
// 		h1 {
// 			padding-left: 3%;
// 			color: $color-primary;
// 		}		

// 		p {
// 			text-transform: uppercase;
// 			padding-left: 14.75%;
// 		}
// 	}
// }

// .background--large {
// 	height: 64.3%;
// 	width: 100%;
	
// 	&.background--primary {
// 		background-color: $color-primary-light;
// 	}
// }
